/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* #Typography / baseline corrections
================================================== */

h1 { line-height: 49px; margin-bottom: 14px; }
h2 { line-height: 42px; margin-bottom: 7px; }
h3 { line-height: 35px; margin-bottom: 7px; }
h4 { line-height: 28px; margin-bottom: 7px; }
h5 { line-height: 21px;  }

p { margin: 0 0 14px 0; }
p.lead { line-height: 28px; }

blockquote, blockquote p { line-height: 21px; }
blockquote { margin: 0 0 21px; padding: 7px 20px 0 19px; }

hr { margin: 7px 0 14px; }
 
ul, ol { margin-bottom: 21px;}
ul ul, ul ol,
ol ol, ol ul { margin: 7px 0 7px 30px; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 7px; }
li { line-height: 21px; margin-bottom: 14px; }

.icon {
	font-family: "WebSymbolsRegular";
}


/* #font-face
================================================== */

@font-face {
	font-family: 'WebSymbolsRegular';
	src: 	url("../fonts/websymbols/websymbols-regular-webfont.eot");
	src: 	url("../fonts/websymbols/websymbols-regular-webfont.eot?#iefix") format('embedded-opentype'),	
			url("../fonts/websymbols/websymbols-regular-webfont.woff") format('woff'),
			url("../fonts/websymbols/websymbols-regular-webfont.ttf") format('truetype'),
			url("../fonts/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format('svg');						
}


@font-face {
	font-family: 'EntypoW';
	src: 	url("../fonts/entypo/entypo.eot");
	src: 	url("../fonts/entypo/entypo.eot?#iefix") format('embedded-opentype'),	
			url("../fonts/entypo/entypo.woff") format('woff'),
			url("../fonts/entypo/entypo.ttf") format('truetype'),
			url("../fonts/entypo/entypo.svg#EntypoW") format('svg');						
}


@font-face {
	font-family: 'Permanent Marker';
	src: 	url("../fonts/permanentmarker/PermanentMarker-webfont.eot");
	src: 	url("../fonts/permanentmarker/PermanentMarker-webfont.eot?#iefix") format('embedded-opentype'),	
			url("../fonts/permanentmarker/PermanentMarker-webfont.woff") format('woff'),
			url("../fonts/permanentmarker/PermanentMarker-webfont.ttf") format('truetype'),
			url("../fonts/permanentmarker/PermanentMarker-webfont.svg#PermanentMarker") format('svg');						
}



/* #Site Styles
================================================== */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background: #fff;
	text-rendering:	optimizeLegibility;
	-webkit-font-smoothing:	antialiased;
	font-smoothing:	antialiased;
}

::selection {
  background: #ff8c00;
}

::-moz-selection {
  background: #ff8c00;
}

::-webkit-selection {
  background: #ff8c00;
}

.strong {
	font-weight: 700;
}

.xstrong {
	font-weight: 900;
}

.centered {
	text-align: center;
}

.alignright {
	text-align: right;
}

.websymbols {
	font-family: 'WebSymbolsRegular';
}

.entypo {
	font-family: 'EntypoW';
}

.pmarker {
	font-family: 'Permanent Marker', cursive;
}


/* ** page setup ** */

img.bg {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
	left: 50%;
	margin-left: -512px;   /* 50% */
  }
}


img.logo {
	margin: 18em 0 0 0;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

img.twitter {
    vertical-align:	middle;
	margin: 0.2em 0;
	height: 2.4em;
}

.right {
	text-align: right;
}

.subtitle {
	margin-top: 8.8em;
}

.link,
.link a {
	font-size: 1.4em;
	color: #fff;
	font-weight: 700;
	line-height: 1.4em;
	text-decoration: none;
	
	text-shadow: 0px 0px 6px rgba(255,255,255, 0.4);
}

.link a:hover,
.link a:active,
.link a:focus
 {
 	color: #fff;
	text-shadow: 0px 0px 18px rgba(255,255,255, 1.1);
}

.hide {
	display: none;
}

.cc {
	position: fixed;
	bottom: 0px;
	padding-left: 1.0em;
	color: #fff;
	font-size: 0.8em;
}

.cc a {
	text-decoration: none;
	color: #fff;
}

.cc a:hover,
.cc a:active,
.cc a:focus {
	text-shadow: 0px 0px 8px rgba(255,255,255, 1.1);		
}
