-# encoding: utf-8
:javascript
  function search(event) {
    if (event.which == 13) {
      $('#results').html("<img href=\"/img/ajax-loader.gif\">")
      var query = $('#search').val()
      $.ajax({
          type: "GET",
          url: "http://127.0.0.1:4567/search/" + query,
          success: function(data, status) {
            $('#results').html(data)
          }
      });
      event.preventDefault();
    }
  }
  // $('form[data-async]').on('submit', function(event) {
  //       var $form = $(this);
  //       var $target = $($form.attr('target'));


  //       event.preventDefault();
  //   });
  // }

.row{style: "margin-top: 10%;margin-left: 30%;"}
  .span12
    %div
      %input{type: "text", id: "search", class: "search-query", placeholder: "Search", onkeypress: "search(event);"}
.row{style: "margin-top: 20px;"}
  .span12
    #results
