-# encoding: utf-8
:javascript
  function search(event) {
    if (event.which == 13) {
      $('#results').html("<div align=\"center\"><img width=100 height=100 src=\"/img/ajax-loader.gif\"></div>")
      var query = $('#search').val()
      $.ajax({
          type: "GET",
          url: "/search/" + query,
          success: function(data, status) {
            $('#results').html(data)
          }
      });
      event.preventDefault();
    }
  }
  // $('form[data-async]').on('submit', function(event) {
  //       var $form = $(this);
  //       var $target = $($form.attr('target'));


  //       event.preventDefault();
  //   });
  // }

.row{style: "margin-top: 10%; text-align: center;"}
  #searchfield.span12
    %div
      %input{style: "width: 250px;", type: "text", id: "search", class: "search-query", placeholder: "Search", onkeypress: "search(event);"}
.row{style: "margin-top: 20px;"}
  .span12
    #results
