-# encoding: utf-8
%html
  %head
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")
    %link(rel="stylesheet" type="text/css" href="/css/style.css") 
    %script{:type => "text/javascript", :src  => "/js/jquery.js"}
    %script{:type => "text/javascript", :src  => "/js/bootstrap.js"}
    %title BoxFetch
  %body{data: { spy: :scroll, target: ".bs-docs-sidebar" }}
    %header.navbar.navbar-inverse.navbar-fixed-top
      %nav#header2.navbar-inner.header
    
        .container
          %div.nav-collapse.collapse
            %p.navbar-text.pull-left
              %a{:id =>"logo" :href => "/", :class=> "brand"}BoxFetch
            %p.navbar-text.pull-right
              %a{:id =>"register" href: "/register", class: "brand"}Register
            %p.navbar-text.pull-right
              %a{:id =>"registered" href: "/registered_users", id: "registered", class: "brand"}Registered Users
    .container
      = yield
