-# encoding: utf-8
.row{style: "margin-top: 10%;"}
  .span12
    %table.table.table-striped
      %th
        Id
      %th
        Name
      %th
        Phone Number
      %th
        Avatar
      - unless accounts.empty?
        - accounts.each do |account|
          %tr
            %td
              = account.user_id
            %td
              = account.name
            %td
              = account.phone_number
            %td
              %img{:src => account.avatar_url}
